@import "Montserrat.css";
@import "Insolata.css";

//region Variable
//region App
$border: 1px solid #ccc;
$headerHeight: 300px !important;
$themeTextCommonColor: #959595;
$themeTextPrimaryColor: #5934c5;
$themeTextSecondaryColor: #f4e11e;
$themeWorkCardBackgroundColor: #090506;
$themeRoadmapBorderColor: #5934c5;
$sectionMinHeight: 600px;
//endregion

//region AppV2
$themeBgRootColor: #000;
$themeTextMainColor: #fff;
$workBgHeight: 950px;
$labHeight: 800px;
$footerHeight: 900px;
//endregion
//endregion

//region App
//.main {
//  position: absolute;
//  z-index: -1;
//  width: 100% !important;
//  height: 100% !important;
//  overflow-x: hidden;
//  background-color: #000;
//
//  font-family: Monserat-regular, sans-serif;
//
//  .container-fluid {
//    padding: 0 !important;
//  }
//}
//
//.header {
//  height: $headerHeight;
//}
//
//.circle-img {
//  border: #cccccc;
//  border-radius: 50px;
//  height: 100%;
//}
//
////region About section
//#roadmap-section {
//  color: $themeTextCommonColor;
//  min-height: $sectionMinHeight !important;
//  //margin-bottom: 12px;
//
//  p {
//    font-family: Insolata-Medium, sans-serif;
//    font-size: 2.4rem;
//    color: #ddd;
//  }
//
//  .svg-scroll-wrapper {
//    position: relative;
//    background-color: black;
//    left: -60px;
//    top: $sectionMinHeight / 2;
//    width: 50px;
//
//    span {
//      position: absolute;
//      left: -52px;
//      transform: rotate(-90deg) !important;
//      color: $themeTextPrimaryColor;
//      background-color: transparent;
//      -webkit-box-shadow: 24px 0 40px -5px #5834c5;
//      -moz-box-shadow: 0 24px 40px -5px #5834c5;
//      box-shadow: 0 24px 40px -5px #5834c5;
//    }
//
//    img.scroll {
//      position: relative;
//      top: -1px;
//      width: 24px;
//      height: auto;
//      filter: invert(21%) sepia(55%) saturate(4271%) hue-rotate(250deg) brightness(82%) contrast(92%);
//    }
//  }
//
//  h1 {
//    font-family: Monserat-black, sans-serif;
//    font-size: 8rem;
//    color: $themeTextSecondaryColor;
//  }
//
//  .roadmap {
//    border-left: 1px solid $themeRoadmapBorderColor;
//    min-height: $sectionMinHeight !important;
//
//    pre {
//      background: black !important;
//      font-size: 1.2rem;
//      overflow-wrap: break-word;
//    }
//
//    .fas-roadmap {
//      color: $themeRoadmapBorderColor;
//      position: relative;
//      left: -56px;
//      top: -16px;
//      background-color: #000000 !important;
//      z-index: 3;
//    }
//  }
//}

//endregion

//region Work section
//.work-bg {
//  //background-size: 65%;
//  position: absolute;
//  min-height: $sectionMinHeight;
//  width: 100% !important;
//  z-index: 1;
//}

#work-fg {
  position: absolute;
  z-index: 3;
  right: 0;
  left: 0;

  .bg-text {
    position: absolute;
    top: 10%;
    right: -20%;

    h5 {
      font-size: 14rem;
      font-family: Monserat-black, sans-serif;
    }
  }
}

.parallax-container {
  display: inline-block;
  perspective: 400px;

  .parallax-back {
    width: 200px;
    height: 300px;
    background: #000;
    transform-style: preserve-3d;
    font-family: Insolata-Medium, sans-serif;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.9);

    .parallax-bottom {
      width: 100% !important;
      height: 100% !important;
      background-size: 400%;
    }

    .parallax-middle {
      width: auto;
      height: auto;
      max-width: 180px;
      background: rgba(255, 255, 255, .5);
      position: absolute;
      display: inline-block;
      left: -40px;
      bottom: 40px;

      h5 {
        font-weight: bold !important;
        font-size: 1rem !important;
        color: #000 !important;
      }

      p {
        color: #000 !important;
        font-size: 1rem !important;
      }
    }

    .parallax-top {
      width: auto;
      height: auto;
      min-width: 100px;
      top: 30px;
      right: -30px;
      background: $themeTextPrimaryColor;
      color: #dddddd !important;
      font-family: Insolata-Medium, sans-serif;
      font-weight: bolder;
      position: absolute;
      display: inline-block;
    }
  }
}

.work-card {
  background: $themeWorkCardBackgroundColor;
}

//endregion
//endregion

//region Common
body {
  //overflow: hidden;
  background-color: black !important;
  cursor: none !important;
}

.mt-30-percent {
  margin-top: 30% !important;
}

.divider {
  width: 100%;
  border-bottom: 2px solid #fff;
  margin: 25px 0;
}

button, a {
  cursor: none !important;
}

.size-64 {
  width: 64px !important;
  height: 64px !important;
}

.margit-t-140 {
  margin-top: 140px !important;
}

.cursor {
  position: relative;
  pointer-events: none;

  span.cursor-text {
    position: absolute;
    transition: opacity .3s ease;
    font-size: 1.4rem;
    opacity: 0;
    top: 10px;
    left: -95px;
    width: 200px;
    height: 40px;
    color: #fff;
    font-family: Monserat-black, sans-serif;
  }

  &__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;

    &--big {
      circle {
        //stroke: #ffffff;
        fill: #ffffff;
      }
    }

    &--small {
      circle {
        fill: #ffffff;
      }
    }
  }
}
//endregion

//region AppV2
#main-container {
  width: 100%;
  height: 100%;
  background-color: $themeBgRootColor;
  font-family: Monserat-black, sans-serif;
  color: $themeTextMainColor;

  .main-bg {
    position: absolute;
    transition: background-color .3s ease;
    min-width: 100% !important;
    min-height: 100% !important;
  }

  .main-fg {
    min-width: 100% !important;
    min-height: 100% !important;
  }

  .work-bg {
    min-width: 100% !important;
    min-height: $workBgHeight !important;
    object-fit: cover;
    object-position: center;
    background-size: 100%;
    background-position: center;
  }

  //region Sidebar
  .simplebar-track.simplebar-vertical {
    right: 6px;
    width: 6px;
    top: 100px;
    bottom: 100px;
  }

  .simplebar-visible:before, {
    background-color: $themeTextPrimaryColor;
  }

  .simplebar-scrollbar:before {
    background-color: $themeTextPrimaryColor;
    right: 6px;
    width: 6px;
    top: 100px;
    bottom: 100px;
  }

  //endregion

  a {
    color: $themeTextPrimaryColor !important;
    text-decoration: none;
  }

  #app {
    width: 100%;
    height: 100%;
    background-color: $themeBgRootColor;

    #logo {
      img {
        width: 150px;
      }
    }

    #all-works {
      transition: border .3s ease;
      outline: transparent 0;
      background-color: transparent;
      color: $themeTextSecondaryColor !important;
      text-decoration: none;
      border: 1px solid transparent;
      border-radius: 62px;
      padding: 20px;
      height: 124px;
      width: 124px;
      font-size: 1.4rem;

      i {
        font-size: .8rem;
      }

      &:hover {
        //border: 1px solid rgba(89, 52, 197, .8);
        border: 1px solid rgba(244, 225, 30, .6);
      }
    }

    #menu {
      display: none;
      position: absolute;
      width: 100% !important;
      height: 100% !important;
      z-index: 999 !important;
      background-color: #000 !important;
      color: #fff !important;
      animation: showUp 1s ease;
    }

    #menu-bg {
      transition: all .3s ease;
    }

    @keyframes showUp {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    #menu-fg {
      position: absolute;
      background: rgb(255,255,255);
      background: -moz-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 45%);
      background: -webkit-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 45%);
      background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 45%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
      width: 100% !important;
      height: 100% !important;
      color: #fff !important;

      .menu-header-big {
        transition: all .3s ease;
        font-size: 4rem;
        color: $themeTextSecondaryColor !important;

        span {
          transition: all .3s ease;
          color: #fff !important;
          svg {
            transition: all .3s ease;
            color: #fff !important;

            &:hover {
              transform: rotate(-180deg);
              color: $themeTextPrimaryColor !important;
            }
          }
        }
      }

      .menu-header-small {
        transition: all .3s ease;
        font-size: 2rem;
        color: $themeTextPrimaryColor !important;
      }

      .menu-link-wrapper {
        display: block;

        a {
          font-size: 1.4rem !important;
          color: #fff !important;

          &:hover {
            color: $themeTextSecondaryColor !important;
          }
        }
      }
    }

    #work-main {
      position: relative;

      p#work-main-type-it-app-name {
        font-family: Insolata-Light, sans-serif;
        font-size: 2rem;
        height: 200px;
      }

      p#work-main-type-it-app-description {
        font-family: Insolata-Light, sans-serif;
        font-size: 1.2rem;
        height: 250px;
      }

      #work-project {
        visibility: hidden;
        position: relative;

        #work-project-logo {
          width: 160px;
          height: 160px;
          object-fit: cover;
          object-position: center;
          background-size: cover;
          background-position: center;

          img {
            width: 100%;
            height: 100%;
            filter: invert(17%) sepia(82%) saturate(3235%) hue-rotate(251deg) brightness(94%) contrast(88%);
          }
        }

        a {
          transition: color, background-color .3s ease;
          position: absolute;
          top: 100px !important;
          left: 125px !important;
          color: $themeTextSecondaryColor !important;
          background-color: #000;

          &:hover {
            background-color: #fff !important;
            color: $themeTextPrimaryColor !important;

            i {
              color: $themeTextPrimaryColor !important;
            }
          }
        }
      }

      .buttons {
        button {
          transition: all .3s ease;
          outline: transparent 0;
          background-color: transparent;
          color: $themeTextSecondaryColor !important;
          border: 1px solid transparent;
          border-radius: 60px;
          padding: 20px;
          height: 120px;
          width: 120px;

          i {
            font-size: .8rem;
          }

          &:hover {
            border: 1px solid rgba(244, 225, 30, .6);
          }
        }
      }
    }

    #lab {
      position: relative;
      min-height: $labHeight;
      color: #ffffff;
      padding: 0 !important;
      overflow: hidden;

      -webkit-box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.75);
      box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.75);
    }

    #lab-bg {
      height: $labHeight;
    }

    #lab-fg {
      position: absolute;
      top: 0;
      z-index: 4;
      width: 100% !important;
      height: 100% !important;

      h1 {
        font-size: 6rem;
        font-family: Monserat-black, sans-serif;
        color: $themeTextSecondaryColor;
      }

      h2 {
        color: $themeTextPrimaryColor;
        font-size: 3rem;
        font-family: Monserat-black, sans-serif;
      }

      .lab-link {
        position: relative;
        display: inline-block;
        height: 100%;
        width: 30px;
        margin-left: 10px;

        svg {
          position: absolute;
          top: -22px;
          height: 30px;
          width: 30px;
        }
      }

      a {
        transition: color .3s ease;
        font-size: 1.4rem !important;
        color: #fff !important;
        line-height: 2.8rem;
        &:hover {
          color: $themeTextSecondaryColor !important;
        }
      }
    }

    #footer-wrapper {
      background: rgb(255, 255, 255);
      background: -moz-linear-gradient(234deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 40%);
      background: -webkit-linear-gradient(234deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 40%);
      background: linear-gradient(234deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 40%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#000000", GradientType=1);
    }

    #footer {
      min-height: $footerHeight;

      .divider {
        border-color: #353535;
      }

      h1#email {
        transition: color .3s ease;
        margin-top: 200px;
        display: inline-block;
        width: auto;
        span {
          transition: color .3s ease;
          color: $themeTextSecondaryColor;
        }

        &:hover {
          color: $themeTextSecondaryColor;

          span {
            color: $themeTextPrimaryColor;
          }
        }
      }

      h1 {
        font-family: Insolata-Light, sans-serif;
        font-size: 4rem;
        color: #ccc;
      }

      #about {
        pre {
          background-color: #000 !important;
          font-size: 1.1rem;
        }
      }

      #about, #works {
        margin-top: 100px;

        h3 {
          color: $themeTextPrimaryColor;
          font-family: Monserat-black, sans-serif;
          font-size: 2.2rem;
        }

        .works-link-wrapper {
          a {
            transition: color .3s ease;
            font-size: 1.2rem;
            font-family: Monserat-black, sans-serif;
            color: #fff !important;
            line-height: 2.4rem;
            &:hover {
              color: $themeTextSecondaryColor !important;
            }
          }
        }
      }

      #copyright {
        #copyright-info {
          display: block;
          height: auto;
          object-position: center;
          object-fit: cover;
          margin: 15px 0;

          img {
            width: 50px;
            height: 50px;
          }

          p {
            margin-left: 70px;
            margin-top: 11px;
            display: inline-block;
            color: #454545;
          }
        }

        .social-icon-wrapper {
          transition: .3s border-color ease;
          display: inline-block;
          width: 80px;
          height: 80px;
          border: 1px solid transparent;
          border-radius: 50%;
          padding: 25px;

          &:hover {
            border-color: #fff;
          }

          svg {
            width: 30px;
          }
        }
      }
    }
  }
}
//endregion